.card {
    position: relative;
    min-width: 0;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    padding: 1rem;
    width: 22rem;
    margin-top: 2.5rem;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.input, .button-submit {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.input {
    line-height: 1.5;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.button-submit {
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
